@model Topic

@{
    ViewBag.Title = "Подробная информация";
    Layout = "_Layout";
}

<div class="topic-contatiner">
    <div class="topic-title">
        <a asp-action="GetInfo" asp-controller="Topic" asp-route-id="@Model.Id" class="title-description">@Model.Title</a>
        <p class="title-description">@Model.DateCreate</p>
        <p class="title-description">@Model.User.UserName</p>
    </div>
    <div class="topic-subtitle">
        <p class="topic-text">@Model.Description</p>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
            Ответить
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Заполните форму ответа</h5>
                    </div>
                    <form id="answer">
                        <div class="modal-body">
                            <textarea id="desctiprion-text" class="answer-description" name="answer-value" type="text" placeholder="Введите ответ"></textarea>
                            <input type="text" value="@Model.Id" id="post-id" hidden>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" id="submit" class="btn btn-primary">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="topic-answers" id="answer-topic">
        @if (Model.Answers != null)
        {
            @await Html.PartialAsync("PatrialViews/AnswerPatrialView", Model.Answers)
        }
    </div>
</div>

@section Scripts
{
    <script >
    $(document).ready(function (){
         $('#submit').click(function (event) {
                      event.preventDefault();
                      var answer = $("#desctiprion-text");
                      var postId = $("#post-id").attr('value');
                      answer = encodeURIComponent(answer.val());
                      $('#answer-topic').load('@Url.Action("AddAnswer", "Answer")?postId='+postId+"&answer="+answer );
                      $("#exampleModal").modal('hide');
                   });
    });
    </script>
}
